/* -------  General Styles ------- */
/*body {
  font-family: "Lato", sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
  font-size: 20px;
}

section {
  padding: 20px;
}

li {
  font-size: 16px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-group img {
  width: 100%;
  padding: 8px 0;
}

.ideas-group img {
  width: 100%;
}

.host-group img {
  width: 100%;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

header nav ul {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 20px;
}

.form-item {
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch; 
}

.form-item input  {
  min-width: 200px;
}


/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

/* ############################ */

/* ------- DESKTOP -------*/

@media all and (min-width: 480px) {

/* --- GENERAL STYLES --- */

h2 {
  font-size: 40px;
  font-weight: bolder;
}

/* --- HEADER --- */

  header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    padding-bottom: 8px;
  }

/* --- NAVIGATION --- */

  header nav {
    display: flex;
  }

  header nav ul {
    margin: auto;
  }

  header nav ul li {
    font-size: 22px;
  }

/* --- SEARCH FORM --- */

  .form-group {
    display: flex;
    flex-direction: row;
    flex-shrink: 2;
    margin: auto;
    flex-wrap: wrap;
  }
  
  .form-item {
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: -17px;
    margin-right: auto;
  }
  
  form button {
    max-width: 100px;
    flex-wrap: wrap;
    margin: auto;
  }
  
  /* --- GROUPS & ITEMS --- */

  /* --- ABOUT --- */ 
  .about-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-item-1 {
    flex-basis: 25%;
    padding-right: 10px;
  }

  .about-item-2 {
    flex-basis: 50%;
    padding: 0 0 0 10px;
  }

  /* --- IDEAS --- */

  .ideas-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .ideas-item-1 {
    flex-basis: 50%;
  }

  /* --- HOST --- */

  .host-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
  }

  .host-item-1 {
    flex: 1;
    padding-right: 10px;
  }

  .host-item-1 ul li {
    font-size: 18px;
  }

  .host-item-2 {
    width: 100%;
    flex-basis: 50%;
  }

}